.page-width {
	width: 100%;
	max-width: 64rem;
	margin-left: auto;
	margin-right: auto;
}

.page-container {
	display: grid;
	grid-template-rows: 4rem 1fr 4rem;
	grid-template-columns: 1fr minmax(auto, 64rem) 1fr; 
	height: 100%;
}

html, body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
	height: 100%;
}

@media screen and (max-width: 800px) {
	body {
		font-size: 1.5em;
	}
} 

h1, h2, h3, h4, h5 {
	font-variant: small-caps;
}

.header {
	width: 100%;
	line-height: 4rem;
	font-size: 200%;
    box-shadow: 0 0.2rem 0.7rem 0 rgba(0,0,0,0.0785);
    grid-row-start: 1;
	grid-column: 1 / 4;
}

.header-left {
	margin-left: 1rem;
}

.header-right {
	margin-right: 1rem;
}

.header-logo {
	margin: 0;
    font-size: inherit;
}

a.link-icon {
    text-decoration: none;
    color: inherit;
}


.main-body {
	grid-row-start: 2;
	grid-column-start: 2;
}

.footer {
	box-shadow: 0 -0.2rem 0.7rem rgba(0,0,0,0.0785);
	line-height: 4rem;
	grid-row-start: 3;
	grid-column: 1 / 4;
}

.footer-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 1em;
}

.footer-list>li {
	float: left;
	margin-right: 1em;
}

.left {
	float: left;
}

.right {
	float: right;
}

.section-heading {
	grid-column: 1 / 3;
	line-height: 2em;
	border-bottom: 0.3rem solid;
	margin-top: 1em;
}

.section-title {
	margin: 0;
}

.section-abstract p {
	font-style: italic;
	margin-top: 0.5em;
	font-size: 0.9em;
}

.read-time {
	font-size: 0.8em;
	margin: 0;
	margin-top: -1em;
	line-height: 1em;
	text-align: right;
}

.section {
	text-align: justify;
	grid-column: 1 / 3;
	margin-left: 1rem;
	margin-right: 1rem;
}

.section-content>p:first-child {
	margin-top: 0;
}