.page-width {
	width: 100%;
	max-width: 64rem;
	margin-left: auto;
	margin-right: auto;
}

.page-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr minmax(auto, 64rem) 1fr; 
	height: 100%;
}

html, body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
	height: 100%;
}

h1, h2, h3, h4, h5 {
	font-variant: small-caps;
}

.header {
	font-size: 200%;
    box-shadow: 0 0.2rem 0.7rem 0 rgba(0,0,0,0.0785);
    grid-row-start: 1;
}

.header, .footer {
	color: white;
	background-color: seagreen;
	line-height: 4rem;
	grid-column: 1 / 4;
}

.header-left {
	margin-left: 1rem;
}

.header-right {
	margin-right: 1rem;
}

.header-logo {
	margin: 0;
    font-size: inherit;
}

a.link-icon {
    text-decoration: none;
    color: inherit;
}


.main-body {
	grid-row-start: 2;
	grid-column-start: 2;
}

.footer {
	box-shadow: 0 -0.2rem 0.7rem rgba(0,0,0,0.0785);
	grid-row-start: 3;
	margin-bottom: -1px;
}

.footer-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 1em;
}

.footer-list>li {
	float: left;
	margin-right: 1em;
}

@media screen and (max-width: 800px) {
	.footer-list>li {
		margin-right: 0;
		width: 100%;
		line-height: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		text-align: center;
		float: none;
	}

	.footer-list {
		margin-bottom: 1em;
		margin-top: 1em;
	}
} 

.left {
	float: left;
}

.right {
	float: right;
}

.page-title {
    font-size: 200%;
    text-align: center;
}

.section-heading {
	grid-column: 1 / 3;
	line-height: 2em;
	border-bottom: 0.3rem solid;
	margin-top: 0.5em;
}

.section-title {
	margin: 0;
	line-height: 1.2em;
}

.section-abstract, .section-info {
	font-style: italic;
	font-size: 0.8em;
}

.section-abstract p {
	margin-top: 0.5em;
}

.section-info {
	height: 1em;
}

.section-break {
	line-height: 4rem;
	text-align: center;
}

.section {
    text-align: justify;
    grid-column: 1 / 3;
    margin: 1rem;
    padding: 0.5em;
}

.card {
	border-left: 5px solid seagreen;
    box-shadow: 1px 1px 1px 1px rgba(66, 54, 36, 0.5);
}

.section-content>p:first-child {
	margin-top: 0;
}